<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Customers</title>
  </head>
  <body>
    {% extends 'home.html' %} {% load static %} {% block cont %}

    <h1 style="margin: 10px 0px">{{customer.name}}</h1>
    {% if tags %} {% for tag in tags %}
    <span
      style="
        padding: 10px 20px;
        border: 1px solid rgb(66, 16, 182);
        margin: 20px 0px;
      "
      >{{tag.name}}</span
    >
    {% endfor %} {% else %}
    <h2>No Tags</h2>

    {% endif %}
    <h2 style="margin: 10px 0px">Story</h2>
    <p>{{customer.story}}</p>
    <span><a href="{% url 'update-customer' customer.id %}">Update</a></span>
    <span><a href="{% url 'delete-customer' customer.id %}">Delete</a></span>

    {% if customer.image %}
    <img src="{{ customer.image.url }}" />
    {% else %}
    <img src="{% static 'images/default.jpeg' %}" />
    {% endif %} {% endblock cont %}
  </body>
</html>
