{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Home</title>
  </head>
  <body>
    <div class="heading">
      <img
        src="{% static 'img/1.jpeg' %}"
        alt=""
        srcset=""
        width="150px"
        height="100px"
      />
      <a href="{% url 'add-customer' %}">Add Customer</a>
    </div>
    <hr />

    {% block cont %} {% endblock cont %}

    <footer>Footer</footer>
  </body>
</html>
