*{
    margin: 0;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

h1{
    color: blue;
}

p{
    color: red;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.heading img{
    flex: 1;
}



.heading a {
    text-align: end;
    margin: 0px;
    flex: 4;
}

input[type=submit]{
    border: none;
    width: fit-content;
    padding: 5px 20px;
    color: white;
    background-color: rgb(12, 10, 10);
}